.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
out
src/main/resources/static/bigday
src/main/resources/static/angular/**/*.js
src/main/resources/static/angular/**/*.js.map
src/main/resources/static/dist
node_modules