.widget-box {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 3px 0;
    border: 1px solid #CCC;
}
@media only screen and (max-width: 767px) {
    .widget-box {
        margin-top: 7px;
        margin-bottom: 7px;
    }
}
.widget-header {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    min-height: 38px;
    background: #e4de16;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    color: #000000;
    border-bottom: 1px solid #DDD;
    padding-left: 12px;
}
.widget-header:before,
.widget-header:after {
    content: "";
    display: table;
    line-height: 0;
}
.widget-header:after {
    clear: right;
}
.widget-box.collapsed > .widget-header {
    border-bottom-width: 0;
}
.collapsed.fullscreen > .widget-header {
    border-bottom-width: 1px;
}
.collapsed > .widget-body {
    display: none;
}
.widget-header-flat {
    background: #F7F7F7;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.widget-header-large {
    min-height: 49px;
    padding-left: 18px;
}
.widget-header-small {
    min-height: 31px;
    padding-left: 10px;
}
.widget-header > .widget-title {
    line-height: 36px;
    padding: 0;
    margin: 0;
    display: inline;
}
.widget-header > .widget-title > .ace-icon {
    margin-right: 5px;
    font-weight: normal;
    display: inline-block;
}
.widget-header-large > .widget-title {
    line-height: 48px;
}
.widget-header-small > .widget-title {
    line-height: 30px;
}
.widget-toolbar {
    display: inline-block;
    padding: 0 10px;
    line-height: 37px;
    float: right;
    position: relative;
}
.widget-header-large > .widget-toolbar {
    line-height: 48px;
}
.widget-header-small > .widget-toolbar {
    line-height: 29px;
}
.widget-toolbar.no-padding {
    padding: 0;
}
.widget-toolbar.padding-5 {
    padding: 0 5px;
}
.widget-toolbar:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: -1px;
    border: 1px solid #D9D9D9;
    border-width: 0 1px 0 0;
}
.widget-header-large > .widget-toolbar:before {
    top: 6px;
    bottom: 6px;
}
[class*="widget-color-"] > .widget-header > .widget-toolbar:before {
    border-color: #EEE;
}
.widget-color-orange > .widget-header > .widget-toolbar:before {
    border-color: #FEA;
}
.widget-color-dark > .widget-header > .widget-toolbar:before {
    border-color: #222;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2), inset 1px 0 0 rgba(255, 255, 255, 0.1);
}
.widget-toolbar.no-border:before {
    display: none;
}
.widget-toolbar label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}
.widget-toolbar > a,
.widget-toolbar > .widget-menu > a {
    font-size: 14px;
    margin: 0 1px;
    display: inline-block;
    padding: 0;
    line-height: 24px;
}
.widget-toolbar > a:hover,
.widget-toolbar > .widget-menu > a:hover {
    text-decoration: none;
}
.widget-header-large > .widget-toolbar > a,
.widget-header-large > .widget-toolbar > .widget-menu > a {
    font-size: 15px;
    margin: 0 1px;
}
.widget-toolbar > .btn {
    line-height: 27px;
    margin-top: -2px;
}
.widget-toolbar > .btn.smaller {
    line-height: 26px;
}
.widget-toolbar > .btn.bigger {
    line-height: 28px;
}
.widget-toolbar > .btn-sm {
    line-height: 24px;
}
.widget-toolbar > .btn-sm.smaller {
    line-height: 23px;
}
.widget-toolbar > .btn-sm.bigger {
    line-height: 25px;
}
.widget-toolbar > .btn-xs {
    line-height: 22px;
}
.widget-toolbar > .btn-xs.smaller {
    line-height: 21px;
}
.widget-toolbar > .btn-xs.bigger {
    line-height: 23px;
}
.widget-toolbar > .btn-minier {
    line-height: 18px;
}
.widget-toolbar > .btn-minier.smaller {
    line-height: 17px;
}
.widget-toolbar > .btn-minier.bigger {
    line-height: 19px;
}
.widget-toolbar > .btn-lg {
    line-height: 36px;
}
.widget-toolbar > .btn-lg.smaller {
    line-height: 34px;
}
.widget-toolbar > .btn-lg.bigger {
    line-height: 38px;
}
.widget-toolbar-dark {
    background: #444;
}
.widget-toolbar-light {
    background: rgba(255, 255, 255, 0.85);
}
.widget-toolbar > .widget-menu {
    display: inline-block;
    position: relative;
}
.widget-toolbar > a[data-action],
.widget-toolbar > .widget-menu > a[data-action] {
    -webkit-transition: transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
}
.widget-toolbar > a[data-action] > .ace-icon,
.widget-toolbar > .widget-menu > a[data-action] > .ace-icon {
    margin-right: 0;
}
.widget-toolbar > a[data-action]:focus,
.widget-toolbar > .widget-menu > a[data-action]:focus {
    text-decoration: none;
    outline: none;
}
.widget-toolbar > a[data-action]:hover,
.widget-toolbar > .widget-menu > a[data-action]:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.widget-body {
    background-color: #FFF;
}
.widget-main {
    padding: 12px;
}
.widget-main.padding-32 {
    padding: 32px;
}
.widget-main.padding-30 {
    padding: 30px;
}
.widget-main.padding-28 {
    padding: 28px;
}
.widget-main.padding-26 {
    padding: 26px;
}
.widget-main.padding-24 {
    padding: 24px;
}
.widget-main.padding-22 {
    padding: 22px;
}
.widget-main.padding-20 {
    padding: 20px;
}
.widget-main.padding-18 {
    padding: 18px;
}
.widget-main.padding-16 {
    padding: 16px;
}
.widget-main.padding-14 {
    padding: 14px;
}
.widget-main.padding-12 {
    padding: 12px;
}
.widget-main.padding-10 {
    padding: 10px;
}
.widget-main.padding-8 {
    padding: 8px;
}
.widget-main.padding-6 {
    padding: 6px;
}
.widget-main.padding-4 {
    padding: 4px;
}
.widget-main.padding-2 {
    padding: 2px;
}
.widget-main.padding-0 {
    padding: 0px;
}
.widget-main.no-padding {
    padding: 0;
}
.widget-toolbar .progress {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
}
.widget-toolbar > .dropdown,
.widget-toolbar > .dropup {
    display: inline-block;
}
.widget-box > .widget-header > .widget-toolbar > [data-action="settings"],
.widget-color-dark > .widget-header > .widget-toolbar > [data-action="settings"],
.widget-box > .widget-header > .widget-toolbar > .widget-menu > [data-action="settings"],
.widget-color-dark > .widget-header > .widget-toolbar > .widget-menu > [data-action="settings"] {
    color: #99CADB;
}
.widget-box > .widget-header > .widget-toolbar > [data-action="reload"],
.widget-color-dark > .widget-header > .widget-toolbar > [data-action="reload"],
.widget-box > .widget-header > .widget-toolbar > .widget-menu > [data-action="reload"],
.widget-color-dark > .widget-header > .widget-toolbar > .widget-menu > [data-action="reload"] {
    color: #ACD392;
}
.widget-box > .widget-header > .widget-toolbar > [data-action="collapse"],
.widget-color-dark > .widget-header > .widget-toolbar > [data-action="collapse"],
.widget-box > .widget-header > .widget-toolbar > .widget-menu > [data-action="collapse"],
.widget-color-dark > .widget-header > .widget-toolbar > .widget-menu > [data-action="collapse"] {
    color: #AAA;
}
.widget-box > .widget-header > .widget-toolbar > [data-action="close"],
.widget-color-dark > .widget-header > .widget-toolbar > [data-action="close"],
.widget-box > .widget-header > .widget-toolbar > .widget-menu > [data-action="close"],
.widget-color-dark > .widget-header > .widget-toolbar > .widget-menu > [data-action="close"] {
    color: #E09E96;
}
.widget-box[class*="widget-color-"] > .widget-header {
    color: #FFF;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.widget-color-blue {
    border-color: #307ecc;
}
.widget-color-blue > .widget-header {
    background: #307ecc;
    border-color: #307ecc;
}
.widget-color-blue2 {
    border-color: #5090c1;
}
.widget-color-blue2 > .widget-header {
    background: #5090c1;
    border-color: #5090c1;
}
.widget-color-blue3 {
    border-color: #6379aa;
}
.widget-color-blue3 > .widget-header {
    background: #6379aa;
    border-color: #6379aa;
}
.widget-color-green {
    border-color: #82af6f;
}
.widget-color-green > .widget-header {
    background: #82af6f;
    border-color: #82af6f;
}
.widget-color-green2 {
    border-color: #2e8965;
}
.widget-color-green2 > .widget-header {
    background: #2e8965;
    border-color: #2e8965;
}
.widget-color-green3 {
    border-color: #4ebc30;
}
.widget-color-green3 > .widget-header {
    background: #4ebc30;
    border-color: #4ebc30;
}
.widget-color-red {
    border-color: #e2755f;
}
.widget-color-red > .widget-header {
    background: #e2755f;
    border-color: #e2755f;
}
.widget-color-red2 {
    border-color: #e04141;
}
.widget-color-red2 > .widget-header {
    background: #e04141;
    border-color: #e04141;
}
.widget-color-red3 {
    border-color: #d15b47;
}
.widget-color-red3 > .widget-header {
    background: #d15b47;
    border-color: #d15b47;
}
.widget-color-purple {
    border-color: #7e6eb0;
}
.widget-color-purple > .widget-header {
    background: #7e6eb0;
    border-color: #7e6eb0;
}
.widget-color-pink {
    border-color: #ce6f9e;
}
.widget-color-pink > .widget-header {
    background: #ce6f9e;
    border-color: #ce6f9e;
}
.widget-color-orange {
    border-color: #e8b10d;
}
.widget-color-orange > .widget-header {
    color: #855d10 !important;
    border-color: #e8b10d;
    background: #ffc657;
}
.widget-color-dark {
    border-color: #5a5a5a;
}
.widget-color-dark > .widget-header {
    border-color: #666666;
    background: #404040;
}
.widget-color-grey {
    border-color: #9e9e9e;
}
.widget-color-grey > .widget-header {
    border-color: #aaaaaa;
    background: #848484;
}
.widget-box.transparent {
    border-width: 0;
}
.widget-box.transparent > .widget-header {
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-width: 0;
    border-bottom: 1px solid #DCE8F1;
    color: #4383B4;
    padding-left: 3px;
}
.widget-box.transparent > .widget-header-large {
    padding-left: 5px;
}
.widget-box.transparent > .widget-header-small {
    padding-left: 1px;
}
.widget-box.transparent > .widget-body {
    border-width: 0;
    background-color: transparent;
}
[class*="widget-color-"] > .widget-header > .widget-toolbar > [data-action],
[class*="widget-color-"] > .widget-header > .widget-toolbar > .widget-menu > [data-action] {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
[class*="widget-color-"] > .widget-header > .widget-toolbar > [data-action="settings"],
[class*="widget-color-"] > .widget-header > .widget-toolbar > .widget-menu > [data-action="settings"] {
    color: #D3E4ED;
}
[class*="widget-color-"] > .widget-header > .widget-toolbar > [data-action="reload"],
[class*="widget-color-"] > .widget-header > .widget-toolbar > .widget-menu > [data-action="reload"] {
    color: #DEEAD3;
}
[class*="widget-color-"] > .widget-header > .widget-toolbar > [data-action="collapse"],
[class*="widget-color-"] > .widget-header > .widget-toolbar > .widget-menu > [data-action="collapse"] {
    color: #E2E2E2;
}
[class*="widget-color-"] > .widget-header > .widget-toolbar > [data-action="close"],
[class*="widget-color-"] > .widget-header > .widget-toolbar > .widget-menu > [data-action="close"] {
    color: #FFD9D5;
}
.widget-color-orange > .widget-header > .widget-toolbar > [data-action],
.widget-color-orange > .widget-header > .widget-toolbar > .widget-menu > [data-action] {
    text-shadow: none;
}
.widget-color-orange > .widget-header > .widget-toolbar > [data-action="settings"],
.widget-color-orange > .widget-header > .widget-toolbar > .widget-menu > [data-action="settings"] {
    color: #559AAB;
}
.widget-color-orange > .widget-header > .widget-toolbar > [data-action="reload"],
.widget-color-orange > .widget-header > .widget-toolbar > .widget-menu > [data-action="reload"] {
    color: #7CA362;
}
.widget-color-orange > .widget-header > .widget-toolbar > [data-action="collapse"],
.widget-color-orange > .widget-header > .widget-toolbar > .widget-menu > [data-action="collapse"] {
    color: #777;
}
.widget-color-orange > .widget-header > .widget-toolbar > [data-action="close"],
.widget-color-orange > .widget-header > .widget-toolbar > .widget-menu > [data-action="close"] {
    color: #A05656;
}
.widget-box.light-border[class*="widget-color-"]:not(.fullscreen) {
    border-width: 0;
}
.widget-box.light-border[class*="widget-color-"]:not(.fullscreen) > .widget-header {
    border: 1px solid;
    border-color: inherit;
}
.widget-box.light-border[class*="widget-color-"]:not(.fullscreen) > .widget-body {
    border: 1px solid;
    border-color: #D6D6D6;
    border-width: 0 1px 1px;
}
.widget-box.no-border {
    border-width: 0;
}
.widget-box.fullscreen {
    position: fixed;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    border-width: 3px;
    z-index: 1040;
    -moz-backface-visibility: hidden;
}
.widget-box.fullscreen:not([class*="widget-color-"]) {
    border-color: #AAA;
}
.widget-body .table {
    border-top: 1px solid #E5E5E5;
}
.widget-body .table thead:first-child tr {
    background: #FFF;
}
[class*="widget-color-"] > .widget-body .table thead:first-child tr {
    background: #f2f2f2;
    background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
    background-image: -o-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
    background-image: linear-gradient(to bottom, #f8f8f8 0%, #ececec 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);
}
.widget-body .table.table-bordered thead:first-child > tr {
    border-top-width: 0;
}
.widget-main.no-padding .table {
    margin-bottom: 0;
    border-width: 0;
}
.widget-main.no-padding .table-bordered th:first-child,
.widget-main.no-padding .table-bordered td:first-child {
    border-left-width: 0;
}
.transparent > .widget-body .widget-main .table-bordered > thead > tr > th:last-child,
.widget-main.no-padding .table-bordered > thead > tr > th:last-child,
.transparent > .widget-body .widget-main .table-bordered > tbody > tr > td:last-child,
.widget-main.no-padding .table-bordered > tbody > tr > td:last-child,
.transparent > .widget-body .widget-main .table-bordered > tfoot > tr > td:last-child,
.widget-main.no-padding .table-bordered > tfoot > tr > td:last-child {
    border-right-width: 0 !important;
}
.transparent > .widget-body .widget-main .table-bordered > tbody > tr:last-child > td,
.widget-main.no-padding .table-bordered > tbody > tr:last-child > td {
    border-bottom-width: 0 !important;
}
.table-bordered > thead.thin-border-bottom > tr > th,
.table-bordered > thead.thin-border-bottom > tr > td {
    border-bottom-width: 1px;
}
.widget-body .alert:last-child {
    margin-bottom: 0;
}
.widget-main .tab-content {
    border-width: 0;
}
.widget-toolbar > .nav-tabs {
    border-bottom-width: 0;
    margin-bottom: 0;
    top: auto;
    margin-top: 3px !important;
}
.widget-toolbar > .nav-tabs > li {
    margin-bottom: auto;
}
.widget-toolbar > .nav-tabs > li > a {
    box-shadow: none;
    position: relative;
    top: 1px;
    margin-top: 1px;
}
.widget-toolbar > .nav-tabs > li:not(.active) > a {
    border-color: transparent;
    background-color: transparent;
}
.widget-toolbar > .nav-tabs > li:not(.active) > a:hover {
    background-color: transparent;
}
.widget-toolbar > .nav-tabs > li.active > a {
    background-color: #FFF;
    border-bottom-color: transparent;
    box-shadow: none;
    margin-top: auto;
}
.widget-header-small > .widget-toolbar > .nav-tabs > li > a {
    line-height: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.widget-header-small > .widget-toolbar > .nav-tabs > li.active > a {
    border-top-width: 2px;
}
.widget-header-large > .widget-toolbar > .nav-tabs > li > a {
    line-height: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 4px;
}
.widget-header-large > .widget-toolbar > .nav-tabs > li.active > a {
    margin-top: 3px;
}
[class*="widget-color-"] > .widget-header > .widget-toolbar > .nav-tabs > li > a {
    border-color: transparent;
    background-color: transparent;
    color: #FFF;
    margin-right: 1px;
}
[class*="widget-color-"] > .widget-header > .widget-toolbar > .nav-tabs > li > a:hover {
    background-color: #FFF;
    color: #555;
    border-top-color: #FFF;
}
[class*="widget-color-"] > .widget-header > .widget-toolbar > .nav-tabs > li.active > a {
    background-color: #FFF;
    color: #555;
    border-top-width: 1px;
    margin-top: 0;
}
.widget-toolbar > .nav-tabs .widget-color-orange > .widget-header > li > a {
    color: #855D10;
}
.transparent > .widget-header > .widget-toolbar > .nav-tabs > li > a {
    color: #555;
    background-color: transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.transparent > .widget-header > .widget-toolbar > .nav-tabs > li.active > a {
    border-top-color: #4C8FBD;
    border-right: 1px solid #C5D0DC;
    border-left: 1px solid #C5D0DC;
    background-color: #FFF;
    box-shadow: none;
}
.widget-toolbox {
    background-color: #EEE;
}
.widget-toolbox:first-child {
    padding: 2px;
    border-bottom: 1px solid #CCC;
}
.widget-toolbox:last-child {
    padding: 2px;
    border-top: 1px solid #CCC;
}
.transparent > .widget-body > .widget-toolbox:last-child {
    border: none;
    border-top: 1px solid #CCC;
}
.widget-toolbox > .btn-toolbar {
    margin: 0 !important;
    padding: 0;
}
.widget-toolbox.center {
    text-align: center;
}
.widget-toolbox.padding-16 {
    padding: 16px;
}
.widget-toolbox.padding-14 {
    padding: 14px;
}
.widget-toolbox.padding-12 {
    padding: 12px;
}
.widget-toolbox.padding-10 {
    padding: 10px;
}
.widget-toolbox.padding-8 {
    padding: 8px;
}
.widget-toolbox.padding-6 {
    padding: 6px;
}
.widget-toolbox.padding-4 {
    padding: 4px;
}
.widget-toolbox.padding-2 {
    padding: 2px;
}
.widget-toolbox.padding-0 {
    padding: 0px;
}
.widget-box-overlay {
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -1px;
    left: -1px;
    z-index: 999;
    text-align: center;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.widget-box-overlay > .loading-icon {
    position: relative;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
}
.widget-box.collapsed .widget-box-overlay > .loading-icon {
    top: 10%;
}
.widget-box-overlay > .loading-icon.icon-spin {
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
.widget-main > form {
    margin-bottom: 0;
}
.widget-main > form .input-append,
.widget-main > form .input-prepend {
    margin-bottom: 0;
}
.widget-main.no-padding > form > fieldset,
.widget-main.padding-0 > form > fieldset {
    padding: 16px;
}
.widget-main.no-padding > form > fieldset + .form-actions,
.widget-main.padding-0 > form > fieldset + .form-actions {
    padding: 10px 0 12px;
}
.widget-main.no-padding > form > .form-actions,
.widget-main.padding-0 > form > .form-actions {
    margin: 0;
    padding: 10px 12px 12px;
}
.widget-placeholder {
    border: 2px dashed #D9D9D9;
}
.dialogs {
    padding: 9px;
    position: relative;
}
.itemdiv {
    padding-right: 3px;
    min-height: 66px;
    position: relative;
}
.itemdiv > .user {
    display: inline-block;
    width: 42px;
    position: absolute;
    left: 0;
}
.itemdiv > .user > img,
.itemdiv > .user > .img {
    border-radius: 100%;
    border: 2px solid #5293C4;
    max-width: 40px;
    position: relative;
}
.itemdiv > .user > .img {
    padding: 2px;
}
.itemdiv > .body {
    width: auto;
    margin-left: 50px;
    margin-right: 12px;
    position: relative;
}
.itemdiv > .body > .time {
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: #666;
    position: absolute;
    right: 9px;
    top: 0;
}
.itemdiv > .body > .time .ace-icon {
    font-size: 14px;
    font-weight: normal;
}
.itemdiv > .body > .name {
    display: block;
    color: #999;
}
.itemdiv > .body > .name > b {
    color: #777;
}
.itemdiv > .body > .text {
    display: block;
    position: relative;
    margin-top: 2px;
    padding-bottom: 19px;
    padding-left: 7px;
    font-size: 13px;
}
.itemdiv > .body > .text:after {
    display: block;
    content: "";
    height: 1px;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    left: 16px;
    right: -12px;
    margin-top: 9px;
    border-top: 1px solid #E4ECF3;
}
.itemdiv > .body > .text > .ace-icon:first-child {
    color: #DCE3ED;
    margin-right: 4px;
}
.itemdiv:last-child > .body > .text {
    border-bottom-width: 0;
}
.itemdiv:last-child > .body > .text:after {
    display: none;
}
.itemdiv.dialogdiv {
    padding-bottom: 14px;
}
.itemdiv.dialogdiv:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    left: 19px;
    width: 3px;
    max-width: 3px;
    background-color: #E1E6ED;
    border: 1px solid #D7DBDD;
    border-width: 0 1px;
}
.itemdiv.dialogdiv > .user > img {
    border-color: #C9D6E5;
}
.itemdiv.dialogdiv > .body {
    border: 1px solid #DDE4ED;
    padding: 5px 8px 8px;
    border-left-width: 2px;
    margin-right: 1px;
}
.itemdiv.dialogdiv > .body:before {
    content: "";
    display: block;
    position: absolute;
    left: -7px;
    top: 11px;
    width: 8px;
    height: 8px;
    border: 2px solid #DDE4ED;
    border-width: 2px 0 0 2px;
    background-color: #FFF;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.itemdiv.dialogdiv > .body > .time {
    position: static;
    float: right;
}
.itemdiv.dialogdiv > .body > .text {
    padding-left: 0;
    padding-bottom: 0;
}
.itemdiv.dialogdiv > .body > .text:after {
    display: none;
}
.itemdiv.dialogdiv .tooltip-inner {
    word-break: break-all;
}
.itemdiv.memberdiv {
    width: 175px;
    padding: 2px;
    margin: 3px 0;
    float: left;
    border-bottom: 1px solid #E8E8E8;
}
@media (min-width: 992px) {
    .itemdiv.memberdiv {
        max-width: 50%;
    }
}
@media (max-width: 991px) {
    .itemdiv.memberdiv {
        min-width: 33.333%;
    }
}
.itemdiv.memberdiv > .user > img {
    border-color: #DCE3ED;
}
.itemdiv.memberdiv > .body > .time {
    position: static;
}
.itemdiv.memberdiv > .body > .name {
    line-height: 18px;
    height: 18px;
    margin-bottom: 0;
}
.itemdiv.memberdiv > .body > .name > a {
    display: inline-block;
    max-width: 100px;
    max-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.itemdiv .tools {
    position: absolute;
    right: 5px;
    bottom: 10px;
    display: none;
}
.itemdiv .tools .btn {
    border-radius: 36px;
    margin: 1px 0;
}
.itemdiv .body .tools {
    bottom: 4px;
}
.itemdiv.commentdiv .tools {
    right: 9px;
}
.itemdiv:hover .tools {
    display: inline-block;
}
.form-actions {
    display: block;
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 19px 20px 20px;
}
input[type="color"] {
    border-radius: 0 !important;
    color: #858585;
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
    padding: 5px 4px 6px;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.btn-info,
.btn-info:focus {
    background-color: #6fb3e0 !important;
    border-color: #6fb3e0;
}
.btn-sm {
    border-width: 4px;
    font-size: 13px;
    padding: 4px 9px;
    line-height: 1.39;
}
.btn {
    display: inline-block;
    color: #FFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    background-image: none !important;
    border-radius: 0;
    box-shadow: none !important;
    -webkit-transition: background-color 0.15s, border-color 0.15s, opacity 0.15s;
    -o-transition: background-color 0.15s, border-color 0.15s, opacity 0.15s;
    transition: background-color 0.15s, border-color 0.15s, opacity 0.15s;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
}
.no-radius {
    border-radius: 0 !important;
}

section.section-hero .announcement-wrapper .announcement h3,
section.section-hero .announcement-wrapper .announcement h4,
section.section-hero .announcement-wrapper .announcement h5 {
    color: #fff;
}